.donate--form{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    border: 1px green solid;
}
.larger{
    width: 80%;
    max-width: 600px;
    font-size: 0.94rem;
    margin-bottom: 3rem;
}
.smaller{
    width: 20%;
}
.upload__btn{
    background-color: green;
    color: white;
    font-weight: 900;
}