body{
    background-color:#e0e4dd ;
}
.card--container{
    width: max-content;

    width: 28rem;

    margin-bottom: 10px;
    /* background-color: rgb(226, 215, 215); */
    background-color: white;
    max-width: 18.75rem;
    border: 1px solid grey;
    border-radius: 6px;
    margin-top: 16px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.card__title > h4{
    padding-top: 2%;
    margin:0 0;
    font-size: 0.97rem;
}
.card__classInfo{
    display: flex;
    gap: 3%;
    margin: 0px 0px;
}
.card_flex_item{
    width: 100%;
    font-size: 0.83rem;
}
.card__img{
    padding-bottom: 8px;
}
.card__img > img{
    width: 90%;
    object-fit: contain;
    height: 200px;
}
.card__city{
    font-size: 0.83rem;
}
.card__btn{
    font-size: 0.8rem;
    padding: 0.5em 0.9em;
    margin-bottom: 3%;
    width: 95%;
    background-color: rgb(6, 148, 51);
    color: white;
    font-weight: 900;
}
.card__btn:hover{
    cursor: pointer;
    background-color:rgb(26, 113, 26);
}