.contain {
  /* background-color: purple; */
  background-color: rgb(6, 148, 51);
  /* rgb(6, 148, 51) */
  width: 100%;
  min-width: 319px;
}

.header {
  margin: 0 auto;
  height: 3.49rem;
  max-width: 1440px;
  display: flex;
  gap: 2.5%;
  align-items: center;
}
.header__options {
  margin-left: 1%;
}
.header__logo {
  height: 50%;
  width: 38%;
  max-width: 6rem;
  min-width: 63px;
}
.header__logo > img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  max-width: 6rem;
  object-fit: cover;
  margin-right: auto;
}

.header__searchBar {
  width: 35%;
  min-width: 100px;
  margin-left: auto;
}

.header__cross > input {
  width: 100%;
  height: 2rem;
  border-radius: 4px;
  border: 0px;
  font-size: 1rem;
}
.header__cross {
  color: rgb(99, 101, 100);
  font-size: 1.3rem;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-right: 0.5rem white solid;
}

.header__cross > input:focus {
  outline: none;
}

.header__profileBtn {
  margin-right: 1%;
}
